body {
    margin: 0px;
    background-color: #76A9E0;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Main_navigation_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:70px;
    width:304px;
    height:696px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:702px;
}

.u1 {
    position:absolute;
    left:2px;
    top:340px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:2px;
    top:70px;
    width:304px;
    height:696px
}

.u2_original {
    background-image: url('../Main_navigation_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:20px;
    width:304px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:11px;
    width:300px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:2px;
    top:20px;
    width:304px;
    height:50px
}

.u4_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u4_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u4_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:2px;
    top:121px;
    width:303px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:2px;
    top:121px;
    width:303px;
    height:50px
}

.u6_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:13px;
    top:131px;
    width:30px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:13px;
    top:131px;
    width:30px;
    height:30px
}

.u8_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u8_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u8_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u8_container {
    position:absolute;
    left:2px;
    top:171px;
    width:303px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:2px;
    top:171px;
    width:303px;
    height:50px
}

.u10_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:13px;
    top:181px;
    width:30px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:13px;
    top:181px;
    width:30px;
    height:30px
}

.u12_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u12_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u12_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u12_container {
    position:absolute;
    left:2px;
    top:221px;
    width:303px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:2px;
    top:221px;
    width:303px;
    height:50px
}

.u14_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u14_container {
    position:absolute;
    left:13px;
    top:231px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:13px;
    top:231px;
    width:30px;
    height:30px
}

.u16_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u16_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u16_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u16_container {
    position:absolute;
    left:2px;
    top:271px;
    width:303px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:2px;
    top:271px;
    width:303px;
    height:50px
}

.u18_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u18_container {
    position:absolute;
    left:13px;
    top:281px;
    width:30px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:13px;
    top:281px;
    width:30px;
    height:30px
}

.u20_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u20_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u20_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u20_container {
    position:absolute;
    left:2px;
    top:321px;
    width:303px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:2px;
    top:321px;
    width:303px;
    height:50px
}

.u22_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u22_container {
    position:absolute;
    left:13px;
    top:331px;
    width:30px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:13px;
    top:331px;
    width:30px;
    height:30px
}

.u24_down {
    background-image: url('../Main_navigation_files/u4_down.png');
}

.u24_selected {
    background-image: url('../Main_navigation_files/u4_selected.png');
}

.u24_original {
    background-image: url('../Main_navigation_files/u4_original.png');
}

.u24_container {
    position:absolute;
    left:2px;
    top:71px;
    width:303px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:2px;
    top:71px;
    width:303px;
    height:50px
}

.u26_original {
    background-image: url('../Main_navigation_files/u6_original.png');
}

.u26_container {
    position:absolute;
    left:13px;
    top:81px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:13px;
    top:81px;
    width:30px;
    height:30px
}

.u28_line {
    background-image: url('../Main_navigation_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:72px;
    width:301px;
    height:3px;
}

.u28 {
    position:absolute;
    left:4px;
    top:72px;
    width:301px;
    height:3px
}

.u30_original {
    background-image: url('../Main_pannel_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:307px;
    top:20px;
    width:715px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:56px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:307px;
    top:20px;
    width:715px;
    height:50px
}

.u32_original {
    background-image: url('../Main_pannel_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:307px;
    top:70px;
    width:715px;
    height:696px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:702px;
}

.u33 {
    position:absolute;
    left:2px;
    top:340px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:307px;
    top:70px;
    width:715px;
    height:696px
}

.u35_down {
    background-image: url('../UI_Controls_files/u35_down.png');
}

.u35_original {
    background-image: url('../UI_Controls_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:850px;
    top:161px;
    width:110px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:9px;
    width:106px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:850px;
    top:161px;
    width:110px;
    height:40px
}

.u37_down {
    background-image: url('../UI_Controls_files/u35_down.png');
}

.u37_original {
    background-image: url('../UI_Controls_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:720px;
    top:161px;
    width:110px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:9px;
    width:106px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:720px;
    top:161px;
    width:110px;
    height:40px
}

.u39_down {
    background-image: url('../UI_Controls_files/u39_down.png');
}

.u39_original {
    background-image: url('../UI_Controls_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:360px;
    top:100px;
    width:90px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:360px;
    top:100px;
    width:90px;
    height:30px
}

.u41_down {
    background-image: url('../UI_Controls_files/u39_down.png');
}

.u41_original {
    background-image: url('../UI_Controls_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:460px;
    top:100px;
    width:90px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:460px;
    top:100px;
    width:90px;
    height:30px
}

.u43_down {
    background-image: url('../UI_Controls_files/u43_down.png');
}

.u43_selected {
    background-image: url('../UI_Controls_files/u43_selected.png');
}

.u43_original {
    background-image: url('../UI_Controls_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:360px;
    top:160px;
    width:77px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:7px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:360px;
    top:160px;
    width:77px;
    height:30px
}

.u45_down {
    background-image: url('../UI_Controls_files/u45_down.png');
}

.u45_selected {
    background-image: url('../UI_Controls_files/u45_selected.png');
}

.u45_original {
    background-image: url('../UI_Controls_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:592px;
    top:160px;
    width:78px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:7px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:592px;
    top:160px;
    width:78px;
    height:30px
}

.u47_down {
    background-image: url('../UI_Controls_files/u47_down.png');
}

.u47_selected {
    background-image: url('../UI_Controls_files/u47_selected.png');
}

.u47_original {
    background-image: url('../UI_Controls_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:437px;
    top:160px;
    width:78px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:7px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:437px;
    top:160px;
    width:78px;
    height:30px
}

.u49_down {
    background-image: url('../UI_Controls_files/u49_down.png');
}

.u49_selected {
    background-image: url('../UI_Controls_files/u49_selected.png');
}

.u49_original {
    background-image: url('../UI_Controls_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:515px;
    top:160px;
    width:77px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:515px;
    top:160px;
    width:77px;
    height:30px
}

.u52_original {
    background-image: url('../UI_Controls_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:10px;
    top:10px;
    width:70px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:66px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:10px;
    top:10px;
    width:70px;
    height:30px
}

.u54_original {
    background-image: url('../UI_Controls_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px
}

.u56_original {
    background-image: url('../UI_Controls_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:10px;
    top:10px;
    width:70px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:10px;
    top:10px;
    width:70px;
    height:30px
}

.u58_original {
    background-image: url('../UI_Controls_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:50px;
    top:10px;
    width:30px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:50px;
    top:10px;
    width:30px;
    height:30px
}

.u60_down {
    background-image: url('../UI_Controls_files/u60_down.png');
}

.u60_original {
    background-image: url('../UI_Controls_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:360px;
    top:259px;
    width:310px;
    height:50px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:56px;
}

.u61 {
    position:absolute;
    left:2px;
    top:14px;
    width:306px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:360px;
    top:259px;
    width:310px;
    height:50px
}

.u62_down {
    background-image: url('../UI_Controls_files/u62_down.png');
}

.u62_original {
    background-image: url('../UI_Controls_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:360px;
    top:309px;
    width:310px;
    height:50px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:56px;
}

.u63 {
    position:absolute;
    left:2px;
    top:14px;
    width:306px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:360px;
    top:309px;
    width:310px;
    height:50px
}

.u64_original {
    background-image: url('../UI_Controls_files/u64_original.png');
}

.u64_container {
    position:absolute;
    left:370px;
    top:319px;
    width:30px;
    height:30px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u65 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:370px;
    top:319px;
    width:30px;
    height:30px
}

.u66_down {
    background-image: url('../UI_Controls_files/u66_down.png');
}

.u66_original {
    background-image: url('../UI_Controls_files/u66_original.png');
}

.u66_container {
    position:absolute;
    left:360px;
    top:360px;
    width:310px;
    height:50px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:56px;
}

.u67 {
    position:absolute;
    left:2px;
    top:14px;
    width:306px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:360px;
    top:360px;
    width:310px;
    height:50px
}

.u68_original {
    background-image: url('../UI_Controls_files/u64_original.png');
}

.u68_container {
    position:absolute;
    left:370px;
    top:370px;
    width:30px;
    height:30px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u69 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:370px;
    top:370px;
    width:30px;
    height:30px
}

.u70_original {
    background-image: url('../UI_Controls_files/u64_original.png');
}

.u70_container {
    position:absolute;
    left:370px;
    top:269px;
    width:30px;
    height:30px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u71 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:370px;
    top:269px;
    width:30px;
    height:30px
}

.u72 {
    position:absolute;
    left:370px;
    top:230px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_original {
    background-image: url('../UI_Controls_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:630px;
    top:270px;
    width:30px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:630px;
    top:270px;
    width:30px;
    height:30px
}

.u75_original {
    background-image: url('../UI_Controls_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:630px;
    top:320px;
    width:30px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:630px;
    top:320px;
    width:30px;
    height:30px
}

.u78_original {
    background-image: url('../UI_Controls_files/u78_original.png');
}

.u78_container {
    position:absolute;
    left:10px;
    top:10px;
    width:240px;
    height:50px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:56px;
}

.u79 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:10px;
    top:10px;
    width:240px;
    height:50px
}

.u80_original {
    background-image: url('../UI_Controls_files/u80_original.png');
}

.u80_container {
    position:absolute;
    left:35px;
    top:59px;
    width:50px;
    height:25px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:25px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:35px;
    top:59px;
    width:50px;
    height:25px
}

.u82_original {
    background-image: url('../UI_Controls_files/u73_original.png');
}

.u82_container {
    position:absolute;
    left:210px;
    top:20px;
    width:30px;
    height:30px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u83 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:210px;
    top:20px;
    width:30px;
    height:30px
}

.u84_down {
    background-image: url('../UI_Controls_files/u84_down.png');
}

.u84_original {
    background-image: url('../UI_Controls_files/u84_original.png');
}

.u84_container {
    position:absolute;
    left:720px;
    top:360px;
    width:240px;
    height:50px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:56px;
}

.u85 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:720px;
    top:360px;
    width:240px;
    height:50px
}

.u86_down {
    background-image: url('../UI_Controls_files/u86_down.png');
}

.u86_original {
    background-image: url('../UI_Controls_files/u86_original.png');
}

.u86_container {
    position:absolute;
    left:720px;
    top:260px;
    width:240px;
    height:50px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:56px;
}

.u87 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:720px;
    top:260px;
    width:240px;
    height:50px
}

.u88_down {
    background-image: url('../UI_Controls_files/u88_down.png');
}

.u88_original {
    background-image: url('../UI_Controls_files/u88_original.png');
}

.u88_container {
    position:absolute;
    left:720px;
    top:310px;
    width:240px;
    height:50px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:56px;
}

.u89 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:720px;
    top:310px;
    width:240px;
    height:50px
}

.u90 {
    position:absolute;
    left:730px;
    top:231px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_original {
    background-image: url('../UI_Controls_files/u92_original.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:100px;
    width:30px;
    height:30px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u93 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:0px;
    top:100px;
    width:30px;
    height:30px
}

.u94_original {
    background-image: url('../UI_Controls_files/u92_original.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:50px;
    width:30px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u95 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:0px;
    top:50px;
    width:30px;
    height:30px
}

.u96_original {
    background-image: url('../UI_Controls_files/u92_original.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u97 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px
}

.u98_down {
    background-image: url('../UI_Controls_files/u98_down.png');
}

.u98_original {
    background-image: url('../UI_Controls_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:720px;
    top:100px;
    width:240px;
    height:30px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:36px;
}

.u99 {
    position:absolute;
    left:30px;
    top:7px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:720px;
    top:100px;
    width:240px;
    height:30px
}

.u100_original {
    background-image: url('../UI_Controls_files/u100_original.png');
}

.u100_container {
    position:absolute;
    left:723px;
    top:101px;
    width:30px;
    height:30px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u101 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:723px;
    top:101px;
    width:30px;
    height:30px
}

.u102_original {
    background-image: url('../UI_Controls_files/u102_original.png');
}

.u102_container {
    position:absolute;
    left:360px;
    top:530px;
    width:270px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:360px;
    top:530px;
    width:270px;
    height:20px
}

.u104_original {
    background-image: url('../UI_Controls_files/u104_original.png');
}

.u104_container {
    position:absolute;
    left:360px;
    top:530px;
    width:210px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:360px;
    top:530px;
    width:210px;
    height:20px
}

.u106 {
    position:absolute;
    left:640px;
    top:532px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_line {
    background-image: url('../UI_Controls_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:360px;
    top:577px;
    width:310px;
    height:7px;
}

.u107 {
    position:absolute;
    left:360px;
    top:577px;
    width:310px;
    height:7px
}

.u108_original {
    background-image: url('../UI_Controls_files/u108_original.png');
}

.u108_container {
    position:absolute;
    left:580px;
    top:570px;
    width:20px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:580px;
    top:570px;
    width:20px;
    height:20px
}

.u110_original {
    background-image: url('../UI_Controls_files/u110_original.png');
}

.u110_container {
    position:absolute;
    left:360px;
    top:610px;
    width:30px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u111 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:360px;
    top:610px;
    width:30px;
    height:30px
}

.u112_original {
    background-image: url('../UI_Controls_files/u112_original.png');
}

.u112_container {
    position:absolute;
    left:400px;
    top:610px;
    width:30px;
    height:30px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u113 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:400px;
    top:610px;
    width:30px;
    height:30px
}

.u114_original {
    background-image: url('../UI_Controls_files/u114_original.png');
}

.u114_container {
    position:absolute;
    left:440px;
    top:610px;
    width:30px;
    height:30px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u115 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:440px;
    top:610px;
    width:30px;
    height:30px
}

.u116_original {
    background-image: url('../UI_Controls_files/u116_original.png');
}

.u116_container {
    position:absolute;
    left:480px;
    top:610px;
    width:30px;
    height:30px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u117 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:480px;
    top:610px;
    width:30px;
    height:30px
}

.u118_down {
    background-image: url('../UI_Controls_files/u118_down.png');
}

.u118_original {
    background-image: url('../UI_Controls_files/u118_original.png');
}

.u118_container {
    position:absolute;
    left:360px;
    top:440px;
    width:310px;
    height:50px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:56px;
}

.u119 {
    position:absolute;
    left:2px;
    top:14px;
    width:306px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:360px;
    top:440px;
    width:310px;
    height:50px
}

.u121_original {
    background-image: url('../UI_Controls_files/u112_original.png');
}

.u121_container {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u122 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px
}

.u123_original {
    background-image: url('../UI_Controls_files/u110_original.png');
}

.u123_container {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u124 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:10px;
    top:10px;
    width:30px;
    height:30px
}

.u125_original {
    background-image: url('../UI_Controls_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:370px;
    top:450px;
    width:30px;
    height:30px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u126 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:370px;
    top:450px;
    width:30px;
    height:30px
}

.u127_original {
    background-image: url('../UI_Controls_files/u73_original.png');
}

.u127_container {
    position:absolute;
    left:520px;
    top:610px;
    width:30px;
    height:30px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u128 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:520px;
    top:610px;
    width:30px;
    height:30px
}

.u129_original {
    background-image: url('../UI_Controls_files/u75_original.png');
}

.u129_container {
    position:absolute;
    left:560px;
    top:610px;
    width:30px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u130 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:560px;
    top:610px;
    width:30px;
    height:30px
}

.u132_original {
    background-image: url('../UI_Controls_files/u92_original.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u133 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px
}

.u134_original {
    background-image: url('../UI_Controls_files/u125_original.png');
}

.u134_container {
    position:absolute;
    left:640px;
    top:610px;
    width:30px;
    height:30px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u135 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:640px;
    top:610px;
    width:30px;
    height:30px
}

.u136_original {
    background-image: url('../UI_Controls_files/u136_original.png');
}

.u136_container {
    position:absolute;
    left:720px;
    top:580px;
    width:240px;
    height:50px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:56px;
}

.u137 {
    position:absolute;
    left:2px;
    top:17px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:720px;
    top:580px;
    width:240px;
    height:50px
}

.u138 {
    position:absolute;
    left:730px;
    top:593px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#76A9E0;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:730px;
    top:550px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_container {
    position:absolute;
    left:366px;
    top:682px;
    width:16px;
    height:16px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u141 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:366px;
    top:682px;
    width:16px;
    height:16px
}

.u142_container {
    position:absolute;
    left:405px;
    top:678px;
    width:24px;
    height:24px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u143 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:405px;
    top:678px;
    width:24px;
    height:24px
}

.u144_container {
    position:absolute;
    left:452px;
    top:666px;
    width:48px;
    height:48px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u145 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:452px;
    top:666px;
    width:48px;
    height:48px
}

.u146_original {
    background-image: url('../UI_Controls_files/u146_original.png');
}

.u146_container {
    position:absolute;
    left:626px;
    top:375px;
    width:30px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:626px;
    top:375px;
    width:30px;
    height:20px
}

.u148_original {
    background-image: url('../UI_Controls_files/u146_original.png');
}

.u148_container {
    position:absolute;
    left:519px;
    top:680px;
    width:30px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:519px;
    top:680px;
    width:30px;
    height:20px
}

