body {
    margin: 0px;
    background-color: #76A9E0;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../iOS_Wireframe_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:70px;
    width:304px;
    height:696px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:702px;
}

.u1 {
    position:absolute;
    left:2px;
    top:340px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:2px;
    top:70px;
    width:304px;
    height:696px
}

.u2_original {
    background-image: url('../iOS_Wireframe_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:20px;
    width:304px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:11px;
    width:300px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:2px;
    top:20px;
    width:304px;
    height:50px
}

.u4_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u4_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u4_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:2px;
    top:121px;
    width:303px;
    height:50px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:2px;
    top:121px;
    width:303px;
    height:50px
}

.u6_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:13px;
    top:131px;
    width:30px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:13px;
    top:131px;
    width:30px;
    height:30px
}

.u8_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u8_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u8_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u8_container {
    position:absolute;
    left:2px;
    top:171px;
    width:303px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:2px;
    top:171px;
    width:303px;
    height:50px
}

.u10_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:13px;
    top:181px;
    width:30px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:13px;
    top:181px;
    width:30px;
    height:30px
}

.u12_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u12_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u12_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u12_container {
    position:absolute;
    left:2px;
    top:221px;
    width:303px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:2px;
    top:221px;
    width:303px;
    height:50px
}

.u14_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u14_container {
    position:absolute;
    left:13px;
    top:231px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:13px;
    top:231px;
    width:30px;
    height:30px
}

.u16_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u16_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u16_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u16_container {
    position:absolute;
    left:2px;
    top:271px;
    width:303px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:2px;
    top:271px;
    width:303px;
    height:50px
}

.u18_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u18_container {
    position:absolute;
    left:13px;
    top:281px;
    width:30px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:13px;
    top:281px;
    width:30px;
    height:30px
}

.u20_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u20_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u20_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u20_container {
    position:absolute;
    left:2px;
    top:321px;
    width:303px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:2px;
    top:321px;
    width:303px;
    height:50px
}

.u22_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u22_container {
    position:absolute;
    left:13px;
    top:331px;
    width:30px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:13px;
    top:331px;
    width:30px;
    height:30px
}

.u24_down {
    background-image: url('../iOS_Wireframe_files/u4_down.png');
}

.u24_selected {
    background-image: url('../iOS_Wireframe_files/u4_selected.png');
}

.u24_original {
    background-image: url('../iOS_Wireframe_files/u4_original.png');
}

.u24_container {
    position:absolute;
    left:2px;
    top:71px;
    width:303px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:299px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:2px;
    top:71px;
    width:303px;
    height:50px
}

.u26_original {
    background-image: url('../iOS_Wireframe_files/u6_original.png');
}

.u26_container {
    position:absolute;
    left:13px;
    top:81px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:13px;
    top:81px;
    width:30px;
    height:30px
}

.u28_line {
    background-image: url('../iOS_Wireframe_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:72px;
    width:301px;
    height:3px;
}

.u28 {
    position:absolute;
    left:4px;
    top:72px;
    width:301px;
    height:3px
}

.u30_original {
    background-image: url('../iOS_Wireframe_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:307px;
    top:20px;
    width:715px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:56px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:307px;
    top:20px;
    width:715px;
    height:50px
}

.u32_original {
    background-image: url('../iOS_Wireframe_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:307px;
    top:70px;
    width:715px;
    height:696px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:702px;
}

.u33 {
    position:absolute;
    left:2px;
    top:340px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:307px;
    top:70px;
    width:715px;
    height:696px
}

.u35_original {
    background-image: url('../iOS_Wireframe_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:571px;
    top:200px;
    width:198px;
    height:198px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:198px;
    height:198px;
}

.u36 {
    position:absolute;
    left:2px;
    top:91px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:571px;
    top:200px;
    width:198px;
    height:198px
}

.u37 {
    position:absolute;
    left:410px;
    top:440px;
    width:520px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:410px;
    top:497px;
    width:520px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_text {
    position:absolute;
    left:600px;
    top:715px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:600px;
    top:715px;
    width:140px;
    height:15px
}

