* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u2_original.png");
}

* html .u4_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u4_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u8_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u12_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u12_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u16_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u16_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u20_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u20_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u24_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u28_line.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_pannel_files/u30_original.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_pannel_files/u32_original.png");
}

* html .u36_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u36_down.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u36_original.png");
}

* html .u38_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u38_down.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u38_original.png");
}

* html .u40_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u40_down.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u40_original.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u44_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u44_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u44_original.png");
}

* html .u50_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u38_down.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u38_original.png");
}

* html .u52_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u40_down.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u40_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u54_original.png");
}

* html .u56_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u36_down.png");
}

* html .u56_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u36_original.png");
}

* html .u58_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u54_original.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u54_original.png");
}

* html .u63_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u63_original.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u63_original.png");
}

* html .u67_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u63_original.png");
}

* html .u70_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u70_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u74_original.png");
}

* html .u78_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u78_down.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u78_original.png");
}

* html .u82_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u82_original.png");
}

* html .u84_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u84_original.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u86_original.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Menus___Forms_files/u88_original.png");
}

