* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u1_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u3_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u5_original.png");
}

* html .u7_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u7_down.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u7_original.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u11_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u0_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u2_original.png");
}

* html .u18_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u18_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u22_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u22_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u26_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u26_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u30_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u30_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u34_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u34_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u38_down {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_down.png");
}

* html .u38_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_selected.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u4_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u6_original.png");
}

* html .u42_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_navigation_files/u28_line.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_pannel_files/u30_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Main_pannel_files/u32_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u54_original.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u57_original.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u59_original.png");
}

* html .u61_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u61_original.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u54_original.png");
}

* html .u67_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u57_original.png");
}

* html .u69_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u59_original.png");
}

* html .u71_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u61_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u54_original.png");
}

* html .u77_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u57_original.png");
}

* html .u79_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u59_original.png");
}

* html .u81_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Google_Map_files/u61_original.png");
}

